<div class="container">
  

  <!-- adding new comments -->
  <form  #commentsForm="ngForm">
    <div *ngIf="comments" class="row form-group"> 

            <hr/>

            <!-- Titel -->
            <div class="col-md-12">
                
              <label for="commentText">{{ls.label('comment')}}</label>

              <input type="text" class="form-control" id="commentText"
                      required
                      [(ngModel)]="comment.commentText" 
                      name="commentText"
                      #commentText="ngModel">            
            </div>        
    </div>

    <div class="btn-group float-right" *ngIf="comments">
        <button          
            type="button" 
            class="btn btn btn-success"
            (click)="addComment()"
            [disabled]="!commentsForm.form.valid">
            {{ls.label('addcomment')}}
        </button>
    </div>

  </form>     
  

   <!-- Template for a single comment -->
   <ng-template #listItem let-item="item">      
      <div  class="list-group-item questionstatus">
        <p>                  
          <em>{{item.userId}} {{item.insertDate | date:'dd.MM.yyyy'}}</em>
          {{item.commentText}}

          <span class="btn-group float-right" *ngIf="item.isEditable">
            <button class="btn btn-default deletecommentbtn" type="button" (click)="deleteComment(item)">             
              <app-icon [icon]="'trash'"></app-icon>
            </button>                       
          </span>
        
        </p>        
      </div>      
    </ng-template> 

    <!-- Paged result -->
    <div class="pagedresult">    
      <app-pager [itemTemplate]="listItem"
                [pagedResult]="comments"
                [nodatafoundmessage]="ls.label('nocomments')"
                (onSelectedPageChanged)="pageSelected($event)">            
      </app-pager>
    </div>

</div>
