
@using cran.Model.ViewModel;
@using cran.Resources;
@using Microsoft.AspNetCore.Mvc.Localization;
@model CourseViewModel;

@inject IHtmlLocalizer<SharedResources>  Resources

<div class="container">

    <h1>@Model.Course.Title</h1>

    <div>
        @Html.Raw(Model.Course.Description)
    </div>
    <form asp-action="Start" method="get">
        <input type="hidden" asp-for="Id" />
        <div class="btn-group float-right" role="group" aria-label="Start course">
            <button type="submit"
                    class="btn btn-secondary"
                    title="@(Resources["StartCourse"])"
                    data-toggle="tooltip" 
                    data-placement="top">
                @(Resources["Start"])
            </button>
        </div>
    </form>

</div>

@section scripts {

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

}
