<div class="container">

    <!-- Template for ListItem -->
    <ng-template #listItem let-item="item">      
     <div  class="list-group-item">
       <h6>                  
         #{{item.key}}
           
         <span class="btn-group float-right">
          
           
           <!-- Edit -->
           <button class="btn btn-default" type="button" (click)="goToText(item)"
             [appTooltip] = "'edit'">
             <app-icon [icon]="'edit'"></app-icon>  
           </button>
 
         </span>
       
       </h6>           
     </div>      
 </ng-template> 

 <app-pager 
   [itemTemplate]="listItem"
   [pagedResult]="pagedResult"
   (onSelectedPageChanged)="pageSelected($event)">            
 </app-pager>

</div>
