<div>
  
  <!-- Search box -->
  <div>
    <label for="tagsearchbox">Tags</label>
    <input #searchBox 
          id="tagsearchbox"
          (keyup)="search(searchBox.value)"
          name="tagsearchbox"
          class="form-control"
          [(ngModel)]="searchText" />
    <div class="crantagresultanchor">
      <div *ngFor="let tag of tags | async" 
           class="crantagresult" 
           (click)="addTag(tag)">
        {{tag.name}}
      </div>
    </div>
  </div>

  <!-- Auflistung -->
  <div  *ngIf="question">
    <div>
      <span *ngFor="let tag of question.tags" 
            class="label label-info crantag">
        {{tag.name}} 
        <span class="glyphicon glyphicon-remove" aria-hidden="true" 
          title="Tag entfernen"
          (click)="removeTag(tag)"></span>
      </span>
    </div>
  </div>

</div>
