<div class="container">

  <form  #searchForm="ngForm">

      <div class="row form-group">

        <!-- Titel -->
        <div class="col-md-4">
            
          <label for="title">{{ls.label('title')}}</label>

          <input type="text" class="form-control" id="title"
                  [(ngModel)]="search.title" name="title"
                  #title="ngModel">         
        </div>

        <!-- And Tags -->
        <div class="col-md-4">
            <app-tag-finder 
                [tagsArray]="search.andTags" 
                [title]="ls.label('andtags')"
                (tagSelectionChanged) = "executeSearch()">              
            </app-tag-finder>
        </div>

        <!-- Or Tags -->
        <div class="col-md-4">
          <app-tag-finder 
            [tagsArray]="search.orTags"
            [title]="ls.label('ortags')"
            (tagSelectionChanged) = "executeSearch()">            
          </app-tag-finder>
        </div>

      </div>  

      <div class="row form-group">
        
        <!-- Sprache -->
        <div class="col-md-4">

          <label for="language">
                {{ls.label('language')}}
          </label>

          <select class="form-control"
            #language="ngModel"
            [(ngModel)]="search.language"
            (change)="executeSearch()"
            name="language" 
            id="language"
            required>
              <option [value]=""></option>                  
              <option [value]="'De'">Deutsch</option>
              <option [value]="'En'">English</option>
          </select>
        </div>

        <!-- Status -->
        <div class="col-md-4">

          <label for="status">
            {{ls.label('state')}}
          </label>

          <select class="form-control"
            #status="ngModel"
            [(ngModel)]="search.status"
            (change)="executeSearch()"
            name="status" id="status">
            <option [value]=""></option> 
            <option [value]="0">{{ls.label('created')}}</option>
            <option [value]="1">{{ls.label('approved')}}</option>
          </select>
        </div>

      </div>

      <div class="row form-group">
        <!-- Buttons -->
        <div class="btn-group pull-right" role="group" aria-label="Search Question">
          <button 
            type="button" 
            class="btn btn btn-success" 
            (click)="searchQuestions(0)">
            {{ls.label('search')}}
          </button>                
        </div>
      </div>

  </form>
  
  
  <!-- Template for ListItem -->
  <ng-template #listItem let-item="item">      
    <div  class="list-group-item questionstatus"
          [ngClass]="{'questionstatusok' : item.status === 1, 'questionstatusnok' :item.status === 0 }">
      <h4>                  
        #{{item.id}}

        {{item.title}}

        <span class="btn-group pull-right">


          <button class="btn btn-default" type="button" (click)="deleteQuestion(item)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          
          <button class="btn btn-default" type="button" (click)="goToQuestion(item)">
            <span class="glyphicon glyphicon-pencil" *ngIf="item.status !== 1"></span>
            <span class="glyphicon glyphicon-info-sign" *ngIf="item.status === 1"></span>
          </button>

        </span>
      
      </h4> 
      <app-tags [tagList]="item.tags"></app-tags>      
    </div>      
  </ng-template> 
  
  <app-pager [itemTemplate]="listItem"
             [pagedResult]="pagedResult"
             (onSelectedPageChanged)="pageSelected($event)">            
  </app-pager>
</div>