<div class="container">

  <form  #searchForm="ngForm">

      <div class="row form-group">

        <!-- Titel -->
        <div class="col-md-4">
            
          <label for="title">Titel</label>

          <input type="text" class="form-control" id="title"
                  [(ngModel)]="search.title" name="title"
                  #title="ngModel">         
        </div>

        <!-- And Tags -->
        <div class="col-md-4">
            <app-tag-finder [tagsArray]="search.andTags" 
                [title]="'Und Tags'">              
            </app-tag-finder>
        </div>

        <!-- Or Tags -->
        <div class="col-md-4">
          <app-tag-finder [tagsArray]="search.orTags"
            [title]="'Oder Tags'">            
          </app-tag-finder>
        </div>

      </div>  

      <div class="row form-group">
        <!-- Buttons -->
        <div class="btn-group pull-right" role="group" aria-label="Basic example">
          <button 
            type="button" 
            class="btn btn btn-success" 
            (click)="searchQuestions(0)">
            Suchen
          </button>                
        </div>
      </div>

  </form>
  
  
  <!-- Template for ListItem -->
  <ng-template #listItem let-item="item">      
    <div  class="list-group-item questionstatus"
          [ngClass]="{'questionstatusok' : item.status === 1, 'questionstatusnok' :item.status === 0 }">
      <h4>                  
        #{{item.id}}

        {{item.title}}

        <span class="btn-group pull-right">


          <button class="btn btn-default" type="button" (click)="deleteQuestion(item)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          
          <button class="btn btn-default" type="button" (click)="goToQuestion(item)">
            <span class="glyphicon glyphicon-pencil" *ngIf="item.status !== 1"></span>
            <span class="glyphicon glyphicon-info-sign" *ngIf="item.status === 1"></span>
          </button>

        </span>
      
      </h4> 
      <app-tags [tagList]="item.tags"></app-tags>      
    </div>      
  </ng-template> 
  
  <app-pager [itemTemplate]="listItem"
             [pagedResult]="pagedResult"
             (onSelectedPageChanged)="pageSelected($event)">            
  </app-pager>
</div>