<div class="container">
  <form #questionForm="ngForm">

    <h4>Frage {{questionToAsk.numQuestionsAsked}} von {{questionToAsk.numQuestions}}</h4>

    <!-- question text -->
    <div class="row">
      <div class="col-md-12">       
        <div [innerHtml] = "questionToAsk?.text | safeHtml"></div>
      </div>
    </div>

    <div>

      <!-- iterate over options  -->
      <div *ngFor="let option of questionToAsk?.options; let optionIndex=index" class="row form-group form-inline">
        
        <hr/>      

        <div [class.crananswercorrect]="checkShown && (option.isChecked == option.isTrue)"
             [class.crananswerwrong]="checkShown && !(option.isChecked == option.isTrue)">                
          <label for="checkBox{{optionIndex}}">{{optionIndex+1}}</label>      
          <input type="checkbox"
              class="checkbox"
              [(ngModel)]="option.isChecked" 
              id="checkBox{{optionIndex}}"
              name="checkBox{{optionIndex}}"
              #optionChecked="ngModel">
          <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="checkShown && option.isTrue"></span> 
          <span class="glyphicon glyphicon-remove" aria-hidden="true" *ngIf="checkShown && !option.isTrue"></span>                       
          <span [innerHtml] = "option?.text | safeHtml"></span>
        </div>     

      </div>
    </div>

    <!-- question explanation -->
    <div class="row" *ngIf="checkShown">
      <div class="col-md-12">                
        <div [innerHtml] = "questionToAsk?.explanation | safeHtml"></div> 
      </div>
    </div>

    <div class="btn-group pull-right">
      <button 
          *ngIf="!checkShown && !(questionToAsk?.courseEnded)"
          type="button" 
          class="btn btn btn-success"
          (click)="getSolution()">
        Prüfen
      </button>

      <button 
        *ngIf="questionToAsk?.courseEnded"
        type="button" 
        class="btn btn btn-success"
        (click)="goToResult()">
        Zurück
      </button>      
      
      <button 
          *ngIf="!(questionToAsk?.courseEnded)"
          type="button" 
          class="btn btn btn-success"
          (click)="nextQuestion()">          
        <span *ngIf="(questionToAsk?.numQuestionsAsked != questionToAsk?.numQuestions)">Nächste Frage</span>
        <span *ngIf="(questionToAsk?.numQuestionsAsked == questionToAsk?.numQuestions)">Kurs beenden</span>
      </button>
    </div>
  </form>
</div>
