@using  cran.Model.Dto
@model cran.Model.ViewModel.LoginViewModel

<div class="container">

    @Html.Raw(Model.LoginInfoText)

    <form asp-controller="Account" asp-action="ExternalLogin" method="post" class="form-horizontal">
        <input asp-for="ReturnUrl" type="hidden" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="btn-group float-right" role="group" aria-label="Start course">
            @foreach (LoginProviderDto provider in Model.LoginProviders)
            {
                <button type="submit"
                        class="btn btn-primary"
                        name="provider"
                        value="@provider.Name"
                        title="@provider.Tooltip"
                        data-toggle="tooltip" data-placement="top">
                    @provider.DisplayName
                </button>
            }
        </div>
    </form>

</div>

@section scripts {

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

}