<div class="container" *ngIf="questionToAsk">
  <form #questionForm="ngForm">

    <h6>
      {{ls.label('questionofnum', questionToAsk.numQuestionsAsked, questionToAsk.numQuestions)}}
    </h6>

    <!-- Titel -->
    <p *ngIf="checkShown && questionToAsk.question">
      <b>#{{questionToAsk.question.id}} {{questionToAsk.question.title}}</b>
      <span><app-vote [votes]="questionToAsk.question.votes"></app-vote></span>
    </p>

    <!-- tags -->
    <div *ngIf="checkShown && questionToAsk.question" style="margin-bottom: 30px;">
        <app-tags [tagList]="questionToAsk.question.tags"></app-tags>
    </div>

    <!-- question text -->
    <div class="row">
      <div class="col-md-12">       
        <div [innerHtml] = "questionToAsk?.text | safeHtml"></div>
      </div>
    </div>

    <!-- images -->
    <div class="row">
      <div class="col-md-12">
          <app-imagelist [images]="questionToAsk?.images"></app-imagelist>
      </div>
    </div>

    <div>

      <!-- iterate over options  -->
      <div *ngFor="let option of questionToAsk?.options; let optionIndex=index" class="row form-group form-inline">
        
        <hr/>      

        <div [class.crananswercorrect]="checkShown && (option.isChecked == option.isTrue)"
             [class.crananswerwrong]="checkShown && !(option.isChecked == option.isTrue)">                
          <label for="checkBox{{optionIndex}}">{{optionIndex+1}}</label>      
          <input type="checkbox"
              class="checkbox"
              [(ngModel)]="option.isChecked" 
              id="checkBox{{optionIndex}}"
              name="checkBox{{optionIndex}}"
              #optionChecked="ngModel"
              [disabled] = "checkShown">
          
          <app-icon [icon]="'ok'"  *ngIf="checkShown && option.isTrue"></app-icon>
          <app-icon [icon]="'nok'" *ngIf="checkShown && !option.isTrue"></app-icon>
                                
          <span [innerHtml] = "option?.text | safeHtml"></span>
        </div>     

      </div>
    </div>

    <!-- question explanation -->
    <div class="row" *ngIf="checkShown">
      <div class="col-md-12">                
        <div [innerHtml] = "questionToAsk?.question?.explanation | safeHtml"></div> 
      </div>
    </div>

    <hr/>

    <div class="btn-group pull-right">

      <!-- prüfen -->
      <button 
          *ngIf="!checkShown && !(questionToAsk?.courseEnded)"
          type="button" 
          class="btn btn btn-success"
          (click)="getSolution()">
        {{ls.label('check')}}
      </button>

      <!-- neue version erstellen -->
      <button 
        *ngIf="questionToAsk?.courseEnded && questionToAsk?.question?.isEditable"
        type="button" 
        class="btn btn btn-success"
        (click)="createNewVersion()">
        {{ls.label('version')}}
      </button>      

      <!-- Zurück -->
      <button 
        *ngIf="questionToAsk?.courseEnded"
        type="button" 
        class="btn btn btn-success"
        (click)="goToResult()">
        {{ls.label('back')}}
      </button>      
      
      <button 
          *ngIf="!(questionToAsk?.courseEnded)"
          type="button" 
          class="btn btn btn-success"
          (click)="nextQuestion()">          
        <span *ngIf="(questionToAsk?.numQuestionsAsked != questionToAsk?.numQuestions)">
          {{ls.label('nextquestion')}}
        </span>
        <span *ngIf="(questionToAsk?.numQuestionsAsked == questionToAsk?.numQuestions)">
            {{ls.label('endcourse')}}
        </span>
      </button>
    </div>
  </form>
</div>

 <!-- Kommentare -->
 <app-comments #comments></app-comments>
 
