<div id="versions" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
          <h6 class="modal-title">Versionen</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>          
        </div>

        <!-- body  -->
        <div class="modal-body">

            <!-- Template for ListItem -->
            <ng-template #listItem let-item="item">    
                <div class="list-group-item">                                    
                  <h6>
                      {{item.version}})
                      {{item.insertDate | date:'dd.MM.yyyy HH:mm'}}
                      {{item.user}}

                      <span class="btn-group pull-right">                              
                          <button class="btn btn-default" 
                                  type="button" 
                                  (click)="goToVersion(item.idQuestion)"
                                  [appTooltip] = "'view'">                                             
                              <app-icon [icon]="'info'"></app-icon>
                          </button>
                      </span>           
                  </h6>
                </div>
            </ng-template> 
            
            <app-pager [itemTemplate]="listItem"
                      [pagedResult]="pagedResult"
                      (onSelectedPageChanged)="pageSelected($event)">            
            </app-pager>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
              {{ls.label('close')}}
          </button>
        </div>
      </div>
  
    </div>
  </div>