<div class="container" *ngIf="question">

  <!-- title and vote control -->
  <h6>

    <span>#{{question.id}} {{question.title}}</span>
    <app-vote [votes]="question.votes"></app-vote>
  
  </h6>
  <app-tags [tagList]="question.tags"></app-tags>

  <br/>

  <!-- question text -->
  <div class="row">
    <div class="col-md-12">       
      <div [innerHtml] = "question?.text | safeHtml"></div>
    </div>
  </div>

  <!-- images -->
  <div class="cranimage row">
    <div class="col-md-12">
        <app-imagelist [images]="question?.images"></app-imagelist>
    </div>
  </div>

  <div>

    <!-- iterate over options  -->
    <div *ngFor="let option of question?.options; let optionIndex=index" class="row form-group form-inline">
      
      <hr/>      

      <div> 
        <app-icon [icon]="'ok'" *ngIf="option.isTrue"></app-icon>
        <app-icon [icon]="'nok'" *ngIf="!option.isTrue"></app-icon>                                               

        <span [innerHtml] = "option?.text | safeHtml"></span>
      </div>     

    </div>
  </div>

  <!-- question explanation -->
  <div class="row">
    <hr/>
    
    <div class="col-md-12">                
      <div [innerHtml] = "question?.explanation | safeHtml"></div> 
    </div>
  </div>

  <div class="btn-group pull-right">   

      <!-- Neue Version erstellen -->
      <button 
        *ngIf="question.isEditable && question.status == 1"
        type="button" 
        class="btn btn btn-success"
        (click)="createNewVersion()">
        {{ls.label('version')}}
      </button>   
      
      <!-- Kopieren -->
      <button 
           type="button" 
           class="btn btn btn-success" 
           (click)="copyQuestion()" 
           *ngIf="question?.id > 0">
           {{ls.label('copy')}} 
      </button>      

      <!-- Editieren -->
      <button 
        *ngIf="question.isEditable && question.status == 0"
        type="button" 
        class="btn btn btn-success"
        (click)="goToEditQuestion()">
        {{ls.label('edit')}}
      </button>      

  </div>
</div>

 <!-- Kommentare -->
 <app-comments #comments></app-comments>
