.waiting {
    z-index:1;
    background-color: rgba(255, 255, 255, 0.6);
    position:fixed;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader {
    
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    /*margin: auto;*/
       
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}