<div class="container">
  <div class="list-group">
    <div  *ngFor="let item of questions" class="list-group-item">
      <h4>
        {{item.title}}

        <span class="btn-group pull-right">


          <button class="btn btn-default" type="button" (click)="deleteQuestion(item)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          
          <button class="btn btn-default" type="button" (click)="goToQuestion(item)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>

        </span>
      
      </h4> 
      <span *ngFor="let tag of item.tags" 
            class="label label-info crantag">
             {{tag.name}}        
      </span> 
          
    </div>
  </div>
</div>
