<div class="container">
  <div class="list-group">
    <div  *ngFor="let item of questions" class="list-group-item">
      <h4>
        {{item.title}}
        <span class="glyphicon glyphicon-pencil pull-right" (click)="goToQuestion(item)"></span>
        <span class="glyphicon glyphicon-remove pull-right" (click)="deleteQuestion(item)"></span>
      </h4> 
      <span *ngFor="let tag of item.tags" 
            class="label label-info crantag">
             {{tag.name}}        
      </span> 
          
    </div>
  </div>
</div>
