<div id="confirmDialog" class="modal fade" role="dialog">

  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">{{title}}</h6>
      </div>
      <div class="modal-body">
        <p>{{text}}</p>
      </div>
      <div class="modal-footer">

        <button type="button" 
                class="btn btn-default" 
                (click)="nok()"
                data-dismiss="modal">{{ls.label('cancel')}}</button>
        
        <button type="button" 
                class="btn btn-default" 
                (click)="ok()"
                data-dismiss="modal">{{ls.label('ok')}}</button>

      </div>
    </div>

  </div>
</div>
