<div class="container">
  
    
    <h1>{{getHeadingText()}}</h1>    
    <form  #tagForm="ngForm">
           
        <div class="row form-group">
            
                  <!-- Title -->
                  <div class="col-md-6">
                      
                    <label for="title">{{ls.label('title')}}</label>
            
                    <input type="text" class="form-control" id="title"
                            required
                            [(ngModel)]="course.title" name="title"
                            #title="ngModel">
            
                    <div [hidden]="title.valid || title.pristine"
                          class="alert alert-danger">
                          {{ls.label('titelrequired')}}
                    </div>
                  </div>   

                  <!-- Language -->
                  <div class="col-md-3">
                    
                      <label for="language">
                        {{ls.label('language')}}
                      </label>

                      <select class="form-control"
                              #language="ngModel"
                              [(ngModel)]="course.language"
                              name="language" 
                              id="language"
                              required>
                              <option [value]=""></option>                  
                              <option [value]="'De'">Deutsch</option>
                              <option [value]="'En'">English</option>
                      </select>

                      <div [hidden]="language.valid || language.pristine"
                          class="alert alert-danger">
                          {{ls.label('languagerequired')}}
                        </div>
                    
                  </div>
                  
                 <!-- Anzahl Fragen -->
                 <div class="col-md-3">

                    <label for="numQuestionsToAsk">{{ls.label('numquestions')}}</label>
                    
                    <input type="number" 
                            class="form-control" 
                            id="numQuestionsToAsk"
                            min="1"
                            required
                            [(ngModel)]="course.numQuestionsToAsk" 
                            name="numQuestionsToAsk"

                            #numQuestionsToAsk="ngModel">
            
                    <div [hidden]="numQuestionsToAsk.valid || numQuestionsToAsk.pristine"
                          class="alert alert-danger">
                          {{ls.label('numquestionsrequired')}}
                    </div>

                 </div>
            
        </div>

        <div  class="row form-group">

             <!-- Tags -->
             <div class="col-md-3">
              <app-tag-finder [tagsArray]="course.tags"></app-tag-finder>
            </div>

        </div>

        <!-- Description -->
        <div class="row form-group">
          
          <div class="col-md-12">
              
            <label for="questiontext"> {{ls.label('description')}}</label>        

            <app-rich-text-box 
              [elementId]="'description'"
              [content]="course.description"
              [required]="true"
              (htmlString)="course.description = $event"></app-rich-text-box>

          </div>
        
        </div>

        <!-- Statusmessage -->
        <app-status-message #statusMessage></app-status-message>

        <!-- Buttons -->
        <div class="btn-group pull-right" role="group" aria-label="Basic example">                  
        
              <!-- Speichern -->
              <button 
                  type="button" 
                  class="btn btn btn-success" 
                  (click)="save()" 
                  [disabled]="!tagForm.form.valid || actionInProgress">
                {{getSaveButtonText()}}
              </button> 
            </div>    
    
    </form>    
</div>
    
