<div class="container">

  <app-question-preview #questionPreview></app-question-preview>

  <h1>{{headingText}}</h1>

  <form (ngSubmit)="onSubmit()" #questionForm="ngForm">

   
    <div class="row form-group">

       <!-- Titel -->
      <div class="col-md-6">
          
        <label for="title">Titel</label>

        <input type="text" class="form-control" id="title"
                required
                [(ngModel)]="question.title" name="title"
                #title="ngModel">

        <div [hidden]="title.valid || title.pristine"
              class="alert alert-danger">
            Titel ist ein Mussfeld
        </div>
      </div>

      <!-- Status -->
      <div class="col-md-3">

        <label for="status">
          Status
        </label>

        <select class="form-control"
                #status="ngModel"
                [(ngModel)]="question.status"
                name="status" id="status">
          <option [value]="0">erstellt</option>
          <option [value]="1">freigeschalten</option>
        </select>

      </div>

      <!-- Tags -->
      <div class="col-md-3">
         <app-tag-finder [question]="question"></app-tag-finder>
      </div>
    </div>

    <!-- Text -->
    <div class="row form-group">
      
      <div class="col-md-12">
          
        <label for="questiontext">Text</label>        

        <app-rich-text-box 
          [elementId]="'questiontext'"
          [content]="question.text"
          [required]="true"
          (htmlString)="question.text = $event"></app-rich-text-box>

      </div>
    
    </div>

    <!-- optionen -->
    <div *ngFor="let option of question.options; let optionIndex=index">
      <hr/>
      <div class="row form-group">

        <div class="col-md-10">
          <label for="optionText{{optionIndex}}">Option {{optionIndex + 1}}</label>

          <app-rich-text-box 
          [elementId]="'questionoption' + (optionIndex + 1)"
          [content]="option.text"
          [required]="true"
          (htmlString)="option.text = $event"></app-rich-text-box>                          
          
        </div>  

        <div class="col-md-1">
          <label for="checkBox{{optionIndex}}">Ok</label>
          <input type="checkbox"
            class="checkbox"
            [(ngModel)]="option.isTrue" 
            id="checkBox{{optionIndex}}"
            name="checkBox{{optionIndex}}"
            #optionChecked="ngModel">
        </div>

        <div class="col-md-1">
          <button type="button" class="btn btn-default cranbutton" (click)="removeOption(optionIndex)">
            <span class="glyphicon glyphicon-trash" title="Option entfernen"></span>
          </button>
        </div>


      </div> 
    </div>

    <hr/>

    <!-- Hinzufügen -->
    <div class="row form-group">
      <div class="col-md-1 col-md-offset-11">
        <button 
              type="button" 
              class="btn btn-default" 
              (click)="addOpton()">
            <span class="glyphicon glyphicon-plus" title="Option hinzufügen"></span>
          </button>
      </div>
    </div>

    <!-- Erklärung -->
    <div class="row form-group">
      
      <div class="col-md-12">
          
        <label for="explanation">Erklärung</label>

        <app-rich-text-box 
        [elementId]="'richtextboxexplanation'"
        [content]="question.explanation"
        [required]="true"
        (htmlString)="question.explanation = $event"></app-rich-text-box>

      </div>
    
    </div>

    <!-- Statusmessage -->
    <app-status-message #statusMessage></app-status-message>

    <!-- Buttons -->
    <div class="btn-group pull-right" role="group" aria-label="Basic example">

      <button 
          type="button" 
          class="btn btn btn-success" 
          (click)="showPreview()" 
          [disabled]="!questionForm.form.valid || actionInProgress">
          Vorschau
      </button>      

      <button 
          type="button" 
          class="btn btn btn-success" 
          (click)="save()" 
          [disabled]="!questionForm.form.valid || actionInProgress">
        {{buttonText}}
      </button> 
    </div>    

  </form>
</div>
