<div>
  <h6>                  
    #{{item.id}}

    {{item.title}}

    <span class="btn-group float-right">

      <!-- Delete button -->
      <button class="btn btn-default" type="button" (click)="itemDelete()"
          [appTooltip] = "'delete'">        
        <app-icon [icon]="'trash'"></app-icon>
      </button>

      <!-- Edit -->
      <button class="btn btn-default" type="button" (click)="itemView(item)"
          *ngIf="item.status === 0"
          [appTooltip] = "'edit'">
        <app-icon [icon]="'edit'"></app-icon>         
      </button>

      <!-- View -->
      <button class="btn btn-default" type="button" (click)="itemView(item)"
        *ngIf="item.status === 1 || item.status === 2"        
        [appTooltip] = "'view'">       
        <app-icon [icon]="'info'" *ngIf="item.status === 1 || item.status === 2"></app-icon>        
      </button>

    </span>
  
  </h6> 

  <app-tags [tagList]="item.tags"></app-tags>
       
</div>      
