<div class="container">
  
    
    <h1>{{headingText}}</h1>    
    <form  #tagForm="ngForm">
           
        <div class="row form-group">
            
                  <!-- Name -->
                  <div class="col-md-6">
                      
                    <label for="title">Name</label>
            
                    <input type="text" class="form-control" id="name"
                            required
                            [(ngModel)]="tag.name" name="name"
                            #name="ngModel">
            
                    <div [hidden]="name.valid || name.pristine"
                          class="alert alert-danger">
                        Name ist ein Mussfeld
                    </div>
                  </div>                             
            
        </div>


    <!-- Description  -->
    <div class="row form-group">
      
      <div class="col-md-12">
          
        <label for="description">Beschreibung</label>        

        <app-rich-text-box 
          [elementId]="'description'"
          [content]="tag.description"
          [required]="true"
          (htmlString)="tag.description = $event"></app-rich-text-box>

      </div>
    
    </div>

        <!-- Statusmessage -->
        <app-status-message #statusMessage></app-status-message>

        <!-- Buttons -->
        <div class="btn-group pull-right" role="group" aria-label="Basic example">                  
        
              <!-- Speichern -->
              <button 
                  type="button" 
                  class="btn btn btn-success" 
                  (click)="save()" 
                  [disabled]="!tagForm.form.valid || actionInProgress">
                {{buttonText}}
              </button> 
            </div>    
    
    </form>    
</div>
    
