<nav class="navbar navbar-default">
   <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cranium </a>
      <a href="#" class="navbar-brand"><app-user-info></app-user-info></a>
    </div>

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         
          <li routerLinkActive="active">
             <a [routerLink]="['/home']">{{ls.label('home')}}</a>
          </li>

          <li  routerLinkActive="active">
            <a [routerLink]="['/list']">{{ls.label('courses')}}</a>
          </li>

          <li >
            <a [routerLink]="['/results']">{{ls.label('myresults')}}</a>
          </li>

          <li class="dropdown">
            <a href="#" 
                class="dropdown-toggle" 
                data-toggle="dropdown" 
                role="button" 
                aria-haspopup="true" 
                aria-expanded="false">
                {{ls.label('questions')}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li  routerLinkActive="active">
                <a [routerLink]="['/addquestion']">{{ls.label('addquestion')}}</a>
              </li>
              <li  routerLinkActive="active" *ngIf="isAdmin">
                <a [routerLink]="['/searchq']">{{ls.label('searchquestion')}}</a>
              </li>
              <li  routerLinkActive="active">
                <a [routerLink]="['/questionlist']">{{ls.label('myquestions')}}</a>
              </li>
            </ul>
          </li>  
          
          <li class="dropdown" *ngIf="isAdmin">
            <a href="#" 
              class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false">
              {{ls.label('admin')}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li  routerLinkActive="active" *ngIf="isAdmin">
                <a [routerLink]="['/managetags']">{{ls.label('tags')}}</a>
              </li>    
              <li  routerLinkActive="active" *ngIf="isAdmin">
                <a [routerLink]="['/managetag/0']">{{ls.label('addtag')}}</a>
              </li>   
              <li  routerLinkActive="active" *ngIf="isAdmin">
                <a [routerLink]="['/managecourse/0']">{{ls.label('addcourse')}}</a>
              </li>                          
            </ul>
          </li>

          <li>
            <a href="/Account/DoLogout">{{ls.label('logout')}}</a>
          </li>
        </ul>
     </div>


   </div>
</nav>
