<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <span class="navbar-brand" href="#">
      Cranium
      <!-- user info -->
      <app-user-info></app-user-info>
    </span>
  
    <!-- burger button -->
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

          <!-- Home -->
          <li routerLinkActive="active" class="nav-item">
            <a [routerLink]="['/home']" class="nav-link">
              {{ls.label('home')}}
            </a>
          </li>

          <!-- Courses -->
          <li  routerLinkActive="active"  class="nav-item">
            <a [routerLink]="['/list']" class="nav-link">
              {{ls.label('courses')}}
            </a>
          </li>

          <!-- Results -->
          <li class="nav-item">
            <a [routerLink]="['/results']" class="nav-link">
              {{ls.label('myresults')}}
            </a>
          </li>

          <!-- Fragen -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" 
                href="#" 
                id="navbarQuestions" 
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ls.label('questions')}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <!-- add question -->
                <a class="dropdown-item" [routerLink]="['/addquestion']" routerLinkActive="active">
                  {{ls.label('addquestion')}}
                </a>

                <!-- search for questions -->
                <a   class="dropdown-item" routerLinkActive="active" *ngIf="isAdmin" [routerLink]="['/searchq']">
                  {{ls.label('searchquestion')}}
                </a>

                <div class="dropdown-divider"></div>

                <!-- My questions -->
                <a  class="dropdown-item" [routerLink]="['/questionlist']" routerLinkActive="active">
                  {{ls.label('myquestions')}}
                </a>
                               
              </div>
          </li>          

          <!-- Admin  -->
          <li *ngIf="isAdmin" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" 
                href="#" 
                id="navbarQuestions" 
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ls.label('admin')}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <!-- Tags -->
                <a class="dropdown-item" [routerLink]="['/managetags']"
                    routerLinkActive="active" *ngIf="isAdmin">
                  {{ls.label('tags')}}
                </a>

                <!--Add tag -->
                <a class="dropdown-item" [routerLink]="['/managetag/0']"
                    routerLinkActive="active" *ngIf="isAdmin">
                  {{ls.label('addtag')}}
                </a>

                <div class="dropdown-divider"></div>

                <!-- Add course  -->
                <a  class="dropdown-item" [routerLink]="['/managetag/0']"
                   routerLinkActive="active" *ngIf="isAdmin">
                  {{ls.label('addtag')}}
                </a>
                               
              </div>
          </li>
          
          <!-- Logout  -->
          <li class="nav-item">
              <a href="/Account/DoLogout"  class="nav-link">
                {{ls.label('logout')}}
              </a>
          </li>
          
          
      </ul>
    </div>
</nav>