<div>
  <h6>                  
    #{{item.id}}

    {{item.title}}

    <span class="btn-group pull-right">

      <button class="btn btn-default" type="button" (click)="itemDelete()">        
        <app-icon [icon]="'trash'"></app-icon>
      </button>
      
      <button class="btn btn-default" type="button" (click)="itemView(item)">
        <app-icon [icon]="'edit'" *ngIf="item.status === 0"></app-icon>
        <app-icon [icon]="'info'" *ngIf="item.status === 1 || item.status === 2"></app-icon>        
      </button>

    </span>
  
  </h6> 

  <app-tags [tagList]="item.tags"></app-tags>
       
</div>      
