<div class="container" *ngIf="courseInstances">

    <p *ngIf="courseInstances.length === 0">
        Keine Kurse absolviert.
    </p>

    <div class="list-group">
        <div  *ngFor="let item of courseInstances" class="list-group-item">
          <h4>
            {{item.insertDate | date:'dd.MM.yyyy HH:mm'}}
            {{item.title}}
            ({{item.percentage}}%)

            <span class="btn-group pull-right">
                <button class="btn btn-default" type="button" (click)="deleteCourseInstance(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-default" type="button" (click)="goToCourseInstance(item)">                       
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </span>           

          </h4>
 
        </div>
    </div>
</div>
