<div class="container">
  <h2>Subscriptions</h2>  

  

    <div class="row form-group">

      <!-- Dropdown with users  -->
      <div class="col-md-12">
        <label for="subs">User</label>

        <select name="subs"
          class="form-control"
          id="subs"
          #subs="ngModel"
          [(ngModel)]="selectedSubscription">
          <option *ngFor="let sub of users" value="{{sub.id}}">{{sub.userId}} {{sub.endpoint}}</option>
        </select>
      </div>

      <!-- Titel -->
      <div class="col-md-12">
        <label>Titel</label>
        <input 
          name="title"
          class="form-control"
          id="title"
          #titelText="ngModel"
          [(ngModel)]="title">          
      </div>

      <!-- Text -->
      <div class="col-md-12">
          <label>Text</label>
          <textarea
            rows="4" 
            name="text"
            class="form-control"
            id="text"
            #textControl="ngModel"
            [(ngModel)]="text"> </textarea>       
       </div>    

      <!-- Action -->
      <div class="col-md-12">
        <label>Action</label>
        <input
          name="action"
          class="form-control"
          id="action"
          #actionControl="ngModel"
          [(ngModel)]="action">      
      </div>     
      
      <!-- Actiontitle -->
      <div class="col-md-12">
        <label>Actiontitle</label>
        <input
          name="actiontitle"
          class="form-control"
          id="actiontitle"
          #actionTitleControl="ngModel"
          [(ngModel)]="actionTitle">
      </div>  

      <!-- ActionUrl -->
      <div class="col-md-12">
        <label>ActionUrl</label>
        <input
          name="actionurl"
          class="form-control"
          id="actionurl"
          #actionurlControl="ngModel"
          [(ngModel)]="actionUrl">     
      </div>        

    </div>

     <!-- Statusmessage -->
     <app-statusmessage #statusMessage></app-statusmessage>

     <!-- Buttons -->
     <div class="btn-group float-right" role="group">                  
     

       <!-- Send notification -->
       <button 
           type="button" 
           class="btn btn btn-success" 
           (click)="sendNotification()">
           Send Notification
       </button> 
           
     </div>    

</div>



   
