<div id="crancourses" class="container">

  <!-- Template for ListItem -->
  <ng-template #listItem let-item="item"> 
      <div class="list-group-item">
        <h6>
          
          #{{item.id}}

          {{item.title}} [{{ls.label('language')}}: {{item.language}}]
  
          <span class="btn-group pull-right">

              <!-- edit button -->
              <button class="btn btn-default" 
                    type="button" 
                    (click)="editCourse(item)" 
                    *ngIf="item.isEditable"
                    [appTooltip] = "'edit'">
                  <app-icon [icon]="'edit'"></app-icon>    
              </button>

              <!-- add or remove to favorite  -->
              <button class="btn btn-default" 
                    type="button"              
                    (click)="addToFavorites(item)"                 
                    [appTooltip] = "'edit'">
                  <app-icon [icon]="'favoriteoff'"></app-icon>    
              </button>              

              <!-- play button -->
              <button class="btn btn-default" 
                      type="button" 
                      (click)="startCourse(item)"
                      [appTooltip] = "'startcourse'">                
                  <!-- play -->
                  <app-icon [icon]="'start'"></app-icon>
              </button>
          </span>
  
        </h6>
        <app-tags [tagList]="item.tags"></app-tags>   
          
        <div [innerHtml] = "item.description | safeHtml"></div>     
    </div>
  </ng-template>

  <!-- Pager -->
  <app-pager 
    [itemTemplate]="listItem"
    [pagedResult]="pagedResult"   
    (onSelectedPageChanged)="pageSelected($event)">            
  </app-pager>  

</div>
