<div id="crancourses" class="container">

  <div class="list-group">
    <div  *ngFor="let item of courses" class="list-group-item">
      <h4>
        {{item.title}} [{{ls.label('language')}}: {{item.language}}]

        <span class="btn-group pull-right">
            <button class="btn btn-default" type="button" (click)="editCourse(item)" *ngIf="item.isEditable">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button class="btn btn-default" type="button" (click)="startCourse(item)">
                <span class="glyphicon glyphicon-play"></span>
            </button>
        </span>

      </h4>
      <app-tags [tagList]="item.tags"></app-tags>   
        
      <div [innerHtml] = "item.description | safeHtml"></div> 

    </div>
    
  </div>
</div>
