<div class="container">

  <h2>{{ls.label('myquestions')}}</h2>
  
  <!-- Template for ListItem -->
  <ng-template #listItem let-item="item">       
    <app-question-list-item 
      [item]="item"     
      (onItemDeletedClick)="deleteQuestion($event)">
    </app-question-list-item>
  </ng-template> 

  <!-- Pager -->
  <app-itempager 
      [itemTemplate]="listItem"
      [pagedResult]="pagedResult"
      [nodatafoundmessage]="ls.label('nomyquestions')"
      (onSelectedPageChanged)="pageSelected($event)">            
  </app-itempager>  
 
</div>
