<div>
  
  <!-- Search box -->
  <div>
    <label for="tagsearchbox">{{title}}</label>
    <input #searchBox 
          id="tagsearchbox"
          (keyup)="search(searchBox.value)"
          name="tagsearchbox"
          class="form-control"
          [(ngModel)]="searchText" />
    <div class="crantagresultanchor">
      <div *ngFor="let tag of tags | async" 
           class="crantagresult" 
           (click)="addTag(tag)">
        {{tag.name}}
      </div>
    </div>
  </div>

  <!-- List of tags -->
  <app-tags 
    [tagList]="tagsArray"
    [isEditable]="true" (onRemoveTagClick)="removeTag($event)"></app-tags> 

</div>
