<div class="container">
  
  <h1>{{headingText}}</h1>

  <form (ngSubmit)="onSubmit()" #questionForm="ngForm">

    <!-- Titel -->
    <div class="row form-group">
      
      <div class="col-md-4">
          
        <label for="title">Titel</label>

        <input type="text" class="form-control" id="title"
                required
                [(ngModel)]="question.title" name="title"
                #title="ngModel">

        <div [hidden]="title.valid || title.pristine"
              class="alert alert-danger">
            Titel ist ein Mussfeld
        </div>
      </div>

      <div class="col-md-8">
         <app-tag-finder [question]="question"></app-tag-finder>
      </div>
    </div>

    <!-- Text -->
    <div class="row form-group">
      
      <div class="col-md-4">
          
        <label for="title">Text</label>

        <textarea  class="form-control" id="text"
                required
                rows="5" 
                [(ngModel)]="question.text" name="text"
                #text="ngModel"></textarea>

        <div [hidden]="text.valid || text.pristine"
              class="alert alert-danger">
            Text ist ein Mussfeld
        </div>
      </div>

      <div class="col-md-8">
         
      </div>
    </div>

    <div *ngFor="let option of question.options; let optionIndex=index">
      <hr/>
      <div class="row form-group">

        <div class="col-md-4">
          <label for="optionText{{optionIndex}}">Option {{optionIndex + 1}}</label>

          <input type="text" class="form-control" id="optionText{{optionIndex}}"
            required
            [(ngModel)]="option.text" 
            name="optionText{{optionIndex}}"
            #optionText="ngModel">
          
          <div [hidden]="optionText.valid || optionText.pristine"
                class="alert alert-danger">
              Text ist ein Mussfeld
          </div>
          
        </div>  

        <div class="col-md-3">
          <label for="checkBox{{optionIndex}}">Ist korrekt</label>
          <input type="checkbox"
            class="checkbox"
            [(ngModel)]="option.isTrue" 
            id="checkBox{{optionIndex}}"
            name="checkBox{{optionIndex}}"
            #optionChecked="ngModel">
        </div>

        <div class="col-md-5">
          <button type="button" class="btn" (click)="removeOption(optionIndex)">
            Entfernen
          </button>
        </div>


      </div> 
    </div>

    <app-status-message #statusMessage></app-status-message>

    <button 
        type="button" 
        class="btn btn btn-success" 
        (click)="save()" 
        [disabled]="!questionForm.form.valid || actionInProgress">
      {{buttonText}}
    </button>

    <button 
        type="button" 
        class="btn btn btn-success" 
        (click)="addOpton()">
      Option hinzufügen
    </button>


  </form>
</div>
