<div class="container">
  
  <h1>{{headingText}}</h1>

  <form (ngSubmit)="onSubmit()" #questionForm="ngForm">

    <!-- Titel -->
    <div class="row form-group">
      
      <div class="col-md-4">
          
        <label for="title">Titel</label>

        <input type="text" class="form-control" id="title"
                required
                [(ngModel)]="question.title" name="title"
                #title="ngModel">

        <div [hidden]="title.valid || title.pristine"
              class="alert alert-danger">
            Titel ist ein Mussfeld
        </div>
      </div>

      <div class="col-md-8">
        
      </div>
    </div>

    <!-- Text -->
    <div class="row form-group">
      
      <div class="col-md-4">
          
        <label for="title">Text</label>

        <input type="text" class="form-control cranmultlinetextbox" id="text"
                required
                rows="12"
                [(ngModel)]="question.text" name="text"
                #text="ngModel">

        <div [hidden]="text.valid || text.pristine"
              class="alert alert-danger">
            Text ist ein Mussfeld
        </div>
      </div>

      <div class="col-md-8">
        
      </div>
    </div>

    <button 
        type="button" 
        class="btn btn btn-success" 
        (click)="addQuestion()" 
        [disabled]="!questionForm.form.valid || actionInProgress">
      {{buttonText}}
    </button>


  </form>
</div>
